.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
_multiconfig.yml
2025/
about/
album/
anzhiyu/
archives/
bangumis/
categories/
cinemas/
comments/
css/
equipment/
essay/
fcircle/
img/
js/
json/
link/
music/
tags/
